<h1 class="title">Log in</h1>
<div class="posted">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for(:session, url: login_path) do |f| %>

			<div class="field">
				<%= f.label :email %>
				<br>
				<%= f.email_field :email, class: 'form-control' %>
			</div>
			<div class="field">
				<%= f.label :password %>
				<br>
				<%= f.password_field :password, class: 'form-control' %>
			</div>
			<div class="actions">
				<%= f.submit "Log in", class: "btn btn-primary" %>
			</div>
			<% end %>

			<p>
				New user? <%= link_to "Sign up now!", new_user_path %>
			</p>
		</div>
		<h1>Sessions#new</h1>
		<p>
			Find me in app/views/sessions/new.html.erb
		</p>
	</div>
</div>