<%= jwplayer_assets %>

<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Name:</strong>
	<%= @contest.name %>
</p>

<p>
	<strong>Url:</strong>
	<%= @contest.url %>
</p>

<p>
	<strong>Startdate:</strong>
	<%= @contest.startdate %>
</p>

<p>
	<strong>Enddate:</strong>
	<%= @contest.enddate %>
</p>

<td> <%= image_tag serve_contest_path(@contest) %> </td

<p>
	<strong>Description:</strong>
	<%= @contest.description %>
</p>

<% if @contest.videos.any? %>
<h3>Videos(<%= @contest.videos.count %>)</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Lastname</th>
			<th>Email</th>
			<th>Message</th>
			<th>Converted</th>
			<th>Contest</th>
			<th>Video</th>
			<th>Player</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @contest.videos.each do |video| %>
		<tr>
			<td><%= video.name %></td>
			<td><%= video.lastname %></td>
			<td><%= video.email %></td>
			<td><%= video.message %></td>
			<td><%= video.converted %></td>
			<td><%= video.contest_id %></td>
			<td><%= video.video %></td>
			<td><%= jwplayer({width: 200, height: 200, file: video.video}) %></td>
			<td><%= link_to 'Show', video %></td>
			<td><%= link_to 'Edit', edit_video_path(video) %></td>
			<td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
  <%= link_to 'New Video', new_contest_video_path(@contest) %>
</table>
<% end %>

<br>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>

